extends base.pug

block scripts 
    script(src='../static/javascript/index.js')

block style 
    style 
        include ../static/css/style.css 

block content 
    section#introSection 
        div.big Welcome to Fusion Dance Academy 
        div.small Eat.Sleep.Dance.Repeat 
    
    section#missionSection 
        h2 Our Mission
        div.card#first 
            h3 Dance Perfection 
            div.card-box 
                div.card-img#img1 
                    img(src="../static/img/cards/card1.png")
                div.card-content 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, accusantium!           
        div.card    
            h3 Dance The Way You Like
            div.card-box 
                div.card-img#img2 
                    img(src="../static/img/cards/card2.png")
                div.card-content 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, accusantium!            
        div.card    
            h3 Expert Teaching
            div.card-box 
                div.card-img#img3 
                    img(src="../static/img/cards/card3.png")
                div.card-content 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, accusantium!            

    section#sponsersSection 
        h2 Our Sponsers 
        div#sponsors 
            img(src="../static/img/logo/logo1.png", alt="Sponsors logo", class="spImg")
            img(src="../static/img/logo/logo2.png", alt="Sponsors logo", class="spImg")
            img(src="../static/img/logo/logo3.png", alt="Sponsors logo", class="spImg")
            img(src="../static/img/logo/logo4.png", alt="Sponsors logo", class="spImg")